*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

h1{
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
}

h2{
  font-size: 40px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}

.small__text{
  font-size: 20px;
  font-weight: normal;
  line-height: 120%;
}

address{
  font-style: normal;
}

.underline{
  position: relative;
}

.underline::before{
  position: absolute;
  content: '';
  bottom: -1px;
  height: 1px;
  width: 100%;
  background: #000;
}

.overlay{
  position: relative;
}

.overlay::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: .6;
  z-index: 0;
}